Repository theopenlane/newman, pull requests merged in 2024-09, with the labels that each got.

#6 cleanup of newman package
  .buildkite/pipeline.yml
  .github/labeler.yml
  .gitignore
  .golangci.yaml
  .pre-commit-config.yaml
  README.md
  Taskfile.yaml
  go.mod
  go.sum
  newman.go
  newman_test.go
  options.go
  pkg/test/main.go
  providers/gmail/gmail.go
  providers/gmail/gmail_test.go
  providers/mailgun/errors.go
  providers/mailgun/mailgun.go
  providers/mailgun/mailgun_test.go
  providers/mock/doc.go
  providers/mock/mock.go
  providers/postmark/postmark.go
  providers/postmark/postmark_test.go
  providers/resend/errors.go
  providers/resend/resend.go
  providers/resend/resend_test.go
  providers/sendgrid/sendgrid.go
  providers/sendgrid/sendgrid_test.go
  providers/smtp/smtp.go
  providers/smtp/smtp_test.go
  scrubber/README.md
  scrubber/html.go
  scrubber/html_test.go
  scrubber/nom_test.go
  scrubber/non.go
  scrubber/text.go
  scrubber/text_test.go
  shared/attachment_test.go
  shared/email.go
  shared/email_json_test.go
  shared/email_test.go
  shared/errors.go
  shared/utils_test.go
  shared/validation.go
  shared/validation_test.go
Labels: ci, local-development

#10 Update README.md
  README.md
Labels: enhancement

#12 Feat contributing
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/labeler.yml
  .golangci.yaml
  .pre-commit-config.yaml
  LICENSE
  README.md
  cattyping.gif
  credentials/README.md
  providers/README.md
Labels: enhancement, ci

#14 Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: bug, ci
